/* Changes the base body font size */
body p {
    font-size: 17px;
}

/* Changes the font size for lists in postings */
.post .post-content ul, .post .post-content ol {
    font-size: 16px;
}


/* Social icons for footer */
.widget.widget_socialicons .social-icons-style2 .social {
    background: eb3d81;
      background-color: rgb(238, 104, 129);
}

/* Adds padding for the woo-commerce products */
.woocommerce-tabs.wc-tabs-wrapper {
    margin-left: 20px;
}
